.Liked{
    position: relative;
    width: 200px;
    margin: 25px;
}
img{
    width: 100%;
    bottom: 0;
}
.Liked:hover img{
    position: relative;
    top: -25px;
}
.buttons{
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: none;
}
.Liked:hover .buttons{
    display:block;
}

button{
    margin-right: 5px;
}